{% extends 'base.html' %}

{% block title %}Home - Rotary Club Bariri 16 de Junho{% endblock %}

{% block content %}

<!-- <h2>Bem-vindo ao Rotary Club Bariri 16 de Junho</h2> -->
<div class="carousel">
  <div class="carousel-images">
    <img src="/static/img/combatemosfome.png" alt="Imagem 1">
    <img src="/static/img/salvamosvidas.png" alt="Imagem 2">
    <img src="/static/img/promovendopaz.png" alt="Imagem 3">
  </div>
</div>

<!-- <h1>Home</h1> -->

<!-- <ul>
  <li><a href="{{ url_for('quem_somos') }}">Quem Somos</a></li>
  <li><a href="{{ url_for('eventos') }}">Eventos</a></li>
  <li><a href="{{ url_for('doacao') }}">Faça Sua Doação</a></li>
  <li><a href="{{ url_for('contas') }}">Prestação de Contas</a></li>
  <li><a href="{{ url_for('contato') }}">Contato</a></li>
  <li><a href="{{ url_for('galeria') }}">Galeria de Fotos</a></li>
  <li><a href="{{ url_for('redes_sociais') }}">Redes Sociais</a></li>
</ul> -->
{% endblock %}
